.header {
     width: 100%;
     height: 150px;
     display: flex;
     justify-content: flex-start;
     align-items: center;
}
.search {
  width: 600px;
  height: 50px;
  background-image:linear-gradient(to right, #30ce9d, #0b407c); 
  display: flex;
  align-items: center;
  margin-left: 50px;
  border-radius: 10px;
  transition: 1s;
}
.search:hover {
  transition: 0.2s ease-in;
  box-shadow: 0 4px 8px 0 rgba(100, 100, 100, 0.2),
  0 3px 10px 0 rgba(50, 50, 50, 0.2);
}
.search:focus-within {
  transition: 1s;
  width: 600px;
  box-shadow: 0 4px 8px 0 rgba(100, 100, 100, 0.2),
  0 3px 10px 0 rgba(50, 50, 50, 0.2);
}
.search-bar {
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 15px;
  width: 90%;
}
/* .search-bar:focus {
  width: 400px;
} */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.search-icon {
  background: none;
  outline: none;
  border: none;
  width: 50px;
  height: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.search-bar::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
