*{
     margin: 0;
     padding: 0;
     color: white;
     font-family: 'Montserrat', sans-serif;
     text-decoration: none;
}
.container{
     width: 100%;
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     background-image: url(../Photos/background6.jpeg);
     background-size: cover;
     background-position: center;
}

.log-in-container{
     width: 60%;
     height: 70%;
     display: flex;
     align-items: center;
     justify-content: center;
}
.log-in-container .log-in{
     width: 60%;
     height: 90%;
     background-color: rgba(29, 25, 25, 0.774);
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.log-in-container .logo{
     width: 40%;
     height: 100%;
     background-color: rgba(94, 84, 84, 0.247);
     display: flex;
     align-items: center;
     justify-content: center;
     background-size: cover;
     background-position: center;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     border-radius: 10px;
}
.log-in{
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}
.logo img{
     width: 85%;
     opacity: 100%;
}
.log-in .title{
     height: 25%;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
}
.log-in .title p{
     font-size: 35px;
     font-weight: 500;
}
.log-in .con-con{
     width: 80%;
     height: auto;
     display: flex;
     flex-direction: column;
     justify-content: center;
}
.log-in .con{
     height: 70px;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
}
.log-in img{
     height: 20px;
     fill: white;
     opacity: 80%;
     margin-right: 10px;
}
.log-in input[type=text]{
     color: rgb(255, 255, 255);
     outline: none;
     background-color: transparent;
     height: 20px;
     width: 250px;
     border: none;
     border-bottom: 1px solid transparent;
     padding: 5px;
     border-image: linear-gradient(to right, #00cc8f 0%, #108db3 100%);
     border-image-slice: 1;
}
.log-in input[type=password]{
     color: rgb(255, 255, 255);
     outline: none;
     background-color: transparent;
     height: 20px;
     width: 250px;
     border: none;
     border-bottom: 1px solid transparent;
     padding: 5px;
     border-image: linear-gradient(to right, #00cc8f 0%, #108db3 100%);
     border-image-slice: 1;
}
.log-in input::placeholder{
     font-size: 15px;
     color: rgba(255, 255, 255, 0.6);
}
.remember{
     width: 250px;
     height: 70px;
     display: flex;
     align-items: center;
     justify-content: center;
}
.wrong{
     width: 100%;
     text-align: center;
     font-size: 12px;
}
.wrong p{
     color: #ff353f;
}
.forgotpass{
     width: 100%;
     height: 50px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 14px;
     cursor: default;
}
.forgotpass p{
     color: rgb(190, 190, 190);
}
.forgotpass p:hover{
     color: rgb(255, 255, 255);
}
.button-con{
     width: 100%;
     height: 85px;
     display: flex;
     justify-content: center;
     align-items: center;
}
.button-con .log-in-button{
     width: 200px;
     height: 45px;
     display: flex;
     justify-content: center;
     align-items: center;
     background-image: linear-gradient(to right, #00cc8f 0%, #108db3 100% );
     border-radius: 5px;
     cursor: default;
     /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.log-in input[type=checkbox]{
     margin: 10px;
}
